/*Style*/

div.ui-dialog-titlebar
{
	background: #970314; /* Old browsers */
	background: -moz-linear-gradient(top,  #970314 4%, #970314 37%, #770019 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#970314), color-stop(37%,#970314), color-stop(95%,#770019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* IE10+ */
	background: linear-gradient(to bottom,  #970314 4%,#970314 37%,#770019 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#970314', endColorstr='#770019',GradientType=0 ); /* IE6-9 */
}
#footer 
{
	margin-top: 5em;
	padding-top:25px;background: #970314; /* Old browsers */
	background: -moz-linear-gradient(top,  #970314 4%, #970314 37%, #770019 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#970314), color-stop(37%,#970314), color-stop(95%,#770019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* IE10+ */
	background: linear-gradient(to bottom,  #970314 4%,#970314 37%,#770019 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#970314', endColorstr='#770019',GradientType=0 ); /* IE6-9 */
}

#jumAsesoria
{
padding-top:25px;background: #970314; /* Old browsers */
background: -moz-linear-gradient(top,  #970314 4%, #970314 37%, #770019 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#970314), color-stop(37%,#970314), color-stop(95%,#770019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%); /* IE10+ */
background: linear-gradient(to bottom,  #970314 4%,#970314 37%,#770019 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#970314', endColorstr='#770019',GradientType=0 ); /* IE6-9 */
color: white;
}

.RedStyle
{
	background: #970314 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #970314 4%, #970314 37%, #770019 95%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#970314), color-stop(37%,#970314), color-stop(95%,#770019)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #970314 4%,#970314 37%,#770019 95%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #970314 4%,#970314 37%,#770019 95%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#970314', endColorstr='#770019',GradientType=0 ) !important; /* IE6-9 */

}

.grayscale{ 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .2s ease;  /* Transition for Webkit browsers */
}

.grayscale:hover{ 
	border: 1px solid #970314;
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

.brightness{
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    -webkit-transition: all .6s ease;
}

.brightness:hover{
    filter: brightness(1);
    -webkit-filter: brightness(1);
    -webkit-transition: all .4s ease;
}

#renglon_index h2 span:hover, h3 span:hover{
	text-shadow: 2px 2px #cdcdcd;
}

/*Maps Style*/
.map {
        min-width: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        height: 100% !important;
    }

    .header {
        background-color: #F5F5F5 !important;
        color: #36A0FF !important;
        height: 70px !important;
        font-size: 27px !important;
        padding: 10px !important;
    }


/*query media*/

@media(max-width:767px){
	#logo img
	{
		margin-top: 0em !important;
		width: 4em !important;
		padding: 0px !important;
		margin: 0px !important;

	}
	
	#footer 
	{
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
    }
}
@media(min-width:768px){
	#logo img
	{
		margin-top: 0em !important;
		width: 4em !important;
		padding: 0px !important;
		margin: 0px !important;
	}
}		
@media(min-width:992px){
	#logo img
	{
		margin-top: 20em;
	}
}
@media(min-width:1200px){
	
}